In [23]:
import pandas as pd
from dateutil import parser
import isodate


df=pd.read_csv('Data\\apiData.csv')

In [24]:
df.isnull().any()

video_id          False
channelTitle      False
title             False
description        True
tags               True
publishedAt       False
viewCount         False
likeCount          True
favouriteCount     True
commentCount       True
duration          False
definition        False
caption           False
dtype: bool

In [25]:
df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount           int64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [26]:
numeric_cols = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)

In [27]:
df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount         float64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [28]:
df['publishedAt'] =df['publishedAt'].apply(lambda x: parser.parse(x)) 
df['pushblishDayName'] = df['publishedAt'].apply(lambda x: x.strftime("%A"))

In [29]:
df['durationSecs'] = df['duration'].apply(lambda x: isodate.parse_duration(x))
df['durationSecs'] = df['durationSecs'].astype('timedelta64[s]')
df['durationSecs'] = pd.to_timedelta(df['duration']).dt.total_seconds()

In [30]:
df[['durationSecs', 'duration']]

      durationSecs  duration
0            317.0   PT5M17S
1            377.0   PT6M17S
2            295.0   PT4M55S
3             41.0     PT41S
4             30.0     PT30S
...            ...       ...
2734          21.0     PT21S
2735          13.0     PT13S
2736          31.0     PT31S
2737          80.0   PT1M20S
2738         618.0  PT10M18S

[2739 rows x 2 columns]

In [31]:
df.dtypes

video_id                             object
channelTitle                         object
title                                object
description                          object
tags                                 object
publishedAt         datetime64[ns, tzutc()]
viewCount                           float64
likeCount                           float64
favouriteCount                      float64
commentCount                        float64
duration                             object
definition                           object
caption                                bool
pushblishDayName                     object
durationSecs                        float64
dtype: object

In [32]:
# Replace NaN values with an empty list
df['tags'] = df['tags'].fillna('')

# Apply lambda function to calculate tag count
df['tagCount'] = df['tags'].apply(lambda x: 0 if pd.isna(x) else len(x) if isinstance(x, list) else 0)

df.head()

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption,pushblishDayName,durationSecs,tagCount
0,i_pwu8bGjqc,KALEO,KALEO - Lonely Cowboy (Live at the Grand Ole O...,KALEO's live performance of this latest single...,"['kaleo', 'kaleo music', 'way down we go', 'ic...",2024-04-26 14:00:37+00:00,71135.0,3368.0,NaN,189.0,PT5M17S,hd,False,Friday,317.0,0
1,IfzGg4aPiqM,KALEO,KALEO - Lonely Cowboy [Live in the Colosseum],KALEO's new single 'Lonely Cowboy' performed L...,"['kaleo', 'kaleo music', 'all the pretty girls...",2024-03-29 13:00:08+00:00,555709.0,19294.0,NaN,1117.0,PT6M17S,hd,False,Friday,377.0,0
2,5IsXCi3C1Cw,KALEO,KALEO - Lonely Cowboy (Official Audio),The official audio for KALEO's new single 'Lon...,"['kaleo', 'kaleo music', 'all the pretty girls...",2024-03-29 04:00:06+00:00,191390.0,6727.0,NaN,234.0,PT4M55S,hd,False,Friday,295.0,0
3,IFOgkKKGaCg,KALEO,Pre-save Lonely Cowboy now! #kaleo #newmusic #...,NaN,,2024-03-26 16:46:37+00:00,11333.0,1302.0,NaN,48.0,PT41S,hd,False,Tuesday,41.0,0
4,O8Dqs7-UfnI,KALEO,#kaleo #waydownwego #newmusic #comingsoon,NaN,,2024-03-24 16:24:05+00:00,10067.0,1131.0,NaN,38.0,PT30S,hd,False,Sunday,30.0,0

In [33]:
df.to_csv('Data\\apiData.csv', index=False)