In [13]:
import pandas as pd
from dateutil import parser
import isodate


df=pd.read_csv('Data\\apiData.csv')
df

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,Fj-g-cmSzbo,Rohit & Kanupriya,Beautiful but toxic. #Funny #comedy #couple #e...,NaN,NaN,2024-05-14T15:06:55Z,801431,56093.0,NaN,257.0,PT1M,hd,False
1,JXvx90MmuG8,Rohit & Kanupriya,Editing our shorts and reels AND an UPGRADE,Was feeling extremely low because of the heats...,"['editing', 'rohit and kanu', 'rohit and kanup...",2024-05-13T15:14:10Z,18016,468.0,NaN,85.0,PT31M57S,hd,False
2,9ay_GsacYWs,Rohit & Kanupriya,Good boy VS Bad boy #funny #comedy #couple #ex...,NaN,NaN,2024-05-13T14:54:22Z,1626649,96485.0,NaN,585.0,PT59S,hd,False
3,-hPbCw8XzkQ,Rohit & Kanupriya,Happy Mother’s Day. #mothersday #mom,NaN,NaN,2024-05-12T05:43:39Z,652233,41210.0,NaN,229.0,PT27S,hd,False
4,yXoqz_GOJxw,Rohit & Kanupriya,When you see a hot guy. #Funny #comedy #couple...,NaN,NaN,2024-05-11T14:41:34Z,3328620,164257.0,NaN,559.0,PT44S,hd,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2772,tOxfKa8FjEY,Darshil Parmar,Beginner Level Skills for Data Engineering (2022),What skills are a must-have when you are just ...,"['Skills for data engineer', 'Skills required ...",2021-06-17T07:01:58Z,53891,2006.0,NaN,106.0,PT6M38S,hd,True
2773,yQvuiqUNPVY,Darshil Parmar,Data Engineer vs Data Scientist vs Machine Lea...,Data Engineer vs Data Scientist vs Machine Lea...,"['data engineer', 'data scientist', 'data scie...",2021-06-09T03:30:08Z,4089,172.0,NaN,35.0,PT5M1S,hd,False
2774,eT4V2cYrZrM,Darshil Parmar,Data science is the best career for you in 202...,Is Data Science a promising career in 2022? \n...,"['What is data science', 'how to learn data sc...",2021-06-02T03:30:04Z,2162,92.0,NaN,26.0,PT5M54S,hd,False
2775,XCc01fcb7EI,Darshil Parmar,My strategies to crack AWS Certified Solutions...,AWS Certified Solutions Architect - Associate ...,"['AWS Certification', 'AWS 2022', 'Cloud certi...",2021-05-16T11:38:36Z,64646,2071.0,NaN,154.0,PT6M25S,hd,False
2776,1jJp8TevYvs,Darshil Parmar,Data Engineering SIMPLIFIED! | Skills required...,Who is a Data Engineer? and What do Data Engin...,"['Data engineer', 'Big Data', 'Data Science', ...",2021-05-10T07:11:05Z,10117,437.0,NaN,56.0,PT5M55S,hd,False

In [15]:
df.info()
if 'favouriteCount' in df.columns:
    df = df.drop(columns=['favouriteCount'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2777 entries, 0 to 2776
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   video_id      2777 non-null   object
 1   channelTitle  2777 non-null   object
 2   title         2777 non-null   object
 3   description   1265 non-null   object
 4   tags          1242 non-null   object
 5   publishedAt   2777 non-null   object
 6   viewCount     2777 non-null   int64
 7   likeCount     2769 non-null   float64
 8   commentCount  2775 non-null   float64
 9   duration      2777 non-null   object
 10  definition    2777 non-null   object
 11  caption       2777 non-null   bool
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 241.5+ KB

In [3]:
df.isnull().any()

video_id          False
channelTitle      False
title             False
description        True
tags               True
publishedAt       False
viewCount         False
likeCount          True
favouriteCount     True
commentCount       True
duration          False
definition        False
caption           False
dtype: bool

In [3]:
df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount           int64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [4]:
numeric = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
df[numeric] = df[numeric].apply(pd.to_numeric, errors = 'coerce', axis = 1)

In [5]:
df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount         float64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [6]:
df['publishedAt'] =df['publishedAt'].apply(lambda x: parser.parse(x)) 
df['pushblishDayName'] = df['publishedAt'].apply(lambda x: x.strftime("%A")) 
print(df['pushblishDayName'])
print(df['publishedAt'] )

0         Tuesday
1          Monday
2          Monday
3          Sunday
4        Saturday
          ...
2772     Thursday
2773    Wednesday
2774    Wednesday
2775       Sunday
2776       Monday
Name: pushblishDayName, Length: 2777, dtype: object
0      2024-05-14 15:06:55+00:00
1      2024-05-13 15:14:10+00:00
2      2024-05-13 14:54:22+00:00
3      2024-05-12 05:43:39+00:00
4      2024-05-11 14:41:34+00:00
                  ...
2772   2021-06-17 07:01:58+00:00
2773   2021-06-09 03:30:08+00:00
2774   2021-06-02 03:30:04+00:00
2775   2021-05-16 11:38:36+00:00
2776   2021-05-10 07:11:05+00:00
Name: publishedAt, Length: 2777, dtype: datetime64[ns, tzutc()]

In [7]:
df['durationSecs'] = df['duration'].apply(lambda x: isodate.parse_duration(x))
df['durationSecs'] = df['durationSecs'].astype('timedelta64[s]')
df['durationSecs'] = pd.to_timedelta(df['duration']).dt.total_seconds()

In [8]:
df[['durationSecs', 'duration']]

      durationSecs  duration
0             60.0      PT1M
1           1917.0  PT31M57S
2             59.0     PT59S
3             27.0     PT27S
4             44.0     PT44S
...            ...       ...
2772         398.0   PT6M38S
2773         301.0    PT5M1S
2774         354.0   PT5M54S
2775         385.0   PT6M25S
2776         355.0   PT5M55S

[2777 rows x 2 columns]

In [9]:
df.dtypes

video_id                             object
channelTitle                         object
title                                object
description                          object
tags                                 object
publishedAt         datetime64[ns, tzutc()]
viewCount                           float64
likeCount                           float64
favouriteCount                      float64
commentCount                        float64
duration                             object
definition                           object
caption                                bool
pushblishDayName                     object
durationSecs                        float64
dtype: object

In [10]:
# Replace NaN values with an empty list
df['tags'] = df['tags'].fillna('')

# Apply lambda function to calculate tag count
df['tagCount'] = df['tags'].apply(lambda x: 0 if pd.isna(x) else len(x) if isinstance(x, list) else 0)

df.head()

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption,pushblishDayName,durationSecs,tagCount
0,Fj-g-cmSzbo,Rohit & Kanupriya,Beautiful but toxic. #Funny #comedy #couple #e...,NaN,,2024-05-14 15:06:55+00:00,801431.0,56093.0,NaN,257.0,PT1M,hd,False,Tuesday,60.0,0
1,JXvx90MmuG8,Rohit & Kanupriya,Editing our shorts and reels AND an UPGRADE,Was feeling extremely low because of the heats...,"['editing', 'rohit and kanu', 'rohit and kanup...",2024-05-13 15:14:10+00:00,18016.0,468.0,NaN,85.0,PT31M57S,hd,False,Monday,1917.0,0
2,9ay_GsacYWs,Rohit & Kanupriya,Good boy VS Bad boy #funny #comedy #couple #ex...,NaN,,2024-05-13 14:54:22+00:00,1626649.0,96485.0,NaN,585.0,PT59S,hd,False,Monday,59.0,0
3,-hPbCw8XzkQ,Rohit & Kanupriya,Happy Mother’s Day. #mothersday #mom,NaN,,2024-05-12 05:43:39+00:00,652233.0,41210.0,NaN,229.0,PT27S,hd,False,Sunday,27.0,0
4,yXoqz_GOJxw,Rohit & Kanupriya,When you see a hot guy. #Funny #comedy #couple...,NaN,,2024-05-11 14:41:34+00:00,3328620.0,164257.0,NaN,559.0,PT44S,hd,False,Saturday,44.0,0

In [11]:
df.drop('description', axis=1, inplace=True)

In [12]:
df.to_csv('Data\\CleanData.csv', index=False)