In [38]:
import pandas as pd
from dateutil import parser
import isodate


df=pd.read_csv('Data\\apiData.csv')

In [39]:
df.isnull().any()

video_id            False
channelTitle        False
title               False
description          True
tags                 True
publishedAt         False
viewCount           False
likeCount            True
favouriteCount       True
commentCount         True
duration            False
definition          False
caption             False
pushblishDayName    False
durationSecs        False
tagCount            False
dtype: bool

In [40]:
df.dtypes

video_id             object
channelTitle         object
title                object
description          object
tags                 object
publishedAt          object
viewCount           float64
likeCount           float64
favouriteCount      float64
commentCount        float64
duration             object
definition           object
caption                bool
pushblishDayName     object
durationSecs        float64
tagCount              int64
dtype: object

In [41]:
numeric_cols = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)

In [42]:
df.dtypes

video_id             object
channelTitle         object
title                object
description          object
tags                 object
publishedAt          object
viewCount           float64
likeCount           float64
favouriteCount      float64
commentCount        float64
duration             object
definition           object
caption                bool
pushblishDayName     object
durationSecs        float64
tagCount              int64
dtype: object

In [43]:
df['publishedAt'] =df['publishedAt'].apply(lambda x: parser.parse(x)) 
df['pushblishDayName'] = df['publishedAt'].apply(lambda x: x.strftime("%A"))

In [44]:
df['durationSecs'] = df['duration'].apply(lambda x: isodate.parse_duration(x))
df['durationSecs'] = df['durationSecs'].astype('timedelta64[s]')
df['durationSecs'] = pd.to_timedelta(df['duration']).dt.total_seconds()

In [45]:
df[['durationSecs', 'duration']]

     durationSecs duration
0           600.0    PT10M
1            35.0    PT35S
2            44.0    PT44S
3          2402.0  PT40M2S
4            46.0    PT46S
..            ...      ...
785          31.0    PT31S
786         126.0   PT2M6S
787          90.0  PT1M30S
788         239.0  PT3M59S
789         157.0  PT2M37S

[790 rows x 2 columns]

In [46]:
df.dtypes

video_id                             object
channelTitle                         object
title                                object
description                          object
tags                                 object
publishedAt         datetime64[ns, tzutc()]
viewCount                           float64
likeCount                           float64
favouriteCount                      float64
commentCount                        float64
duration                             object
definition                           object
caption                                bool
pushblishDayName                     object
durationSecs                        float64
tagCount                              int64
dtype: object

In [47]:
# Replace NaN values with an empty list
df['tags'] = df['tags'].fillna('')

# Apply lambda function to calculate tag count
df['tagCount'] = df['tags'].apply(lambda x: 0 if pd.isna(x) else len(x) if isinstance(x, list) else 0)

df.head()

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption,pushblishDayName,durationSecs,tagCount
0,Pv0iVoSZzN8,MrBeast,10 Minutes To Escape Or This Room Explodes!,I didnâ€™t expect that to happenâ€¦\nThereâ€™s no ju...,,2024-04-27 16:00:00+00:00,67942461.0,3159885.0,NaN,75564.0,PT10M,hd,True,Saturday,600.0,0
1,CWbV3NItSdY,MrBeast,The World's Fastest Cleaners,NaN,,2024-04-25 16:00:03+00:00,85475955.0,5626170.0,NaN,16507.0,PT35S,hd,False,Thursday,35.0,0
2,VLqZUENAFY4,MrBeast,Deal or No Deal with Howie Mandel,NaN,,2024-04-23 16:00:01+00:00,20238479.0,1314999.0,NaN,6317.0,PT44S,hd,False,Tuesday,44.0,0
3,l-nMKJ5J3Uc,MrBeast,"Ages 1 - 100 Decide Who Wins $250,000",I canâ€™t believe who they picked\nThanks Top Tr...,,2024-04-20 15:59:59+00:00,122518711.0,4632492.0,NaN,198479.0,PT40M2S,hd,True,Saturday,2402.0,0
4,XE1Qyss8GIY,MrBeast,"Guess The Gift, Keep It",NaN,,2024-04-09 17:00:00+00:00,138150735.0,7542485.0,NaN,15090.0,PT46S,hd,False,Tuesday,46.0,0

In [48]:
df.to_csv('Data\\CleanData.csv', index=False)