In [1]:
import pandas as pd
from dateutil import parser
import isodate


df=pd.read_csv('Data\\apiData.csv')

In [2]:
df.isnull().any()

video_id          False
channelTitle      False
title             False
description        True
tags               True
publishedAt       False
viewCount         False
likeCount          True
favouriteCount     True
commentCount       True
duration          False
definition        False
caption           False
dtype: bool

In [3]:
df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount           int64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [4]:
numeric = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
df[numeric] = df[numeric].apply(pd.to_numeric, errors = 'coerce', axis = 1)

In [5]:
df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount         float64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [6]:
df['publishedAt'] =df['publishedAt'].apply(lambda x: parser.parse(x)) 
df['pushblishDayName'] = df['publishedAt'].apply(lambda x: x.strftime("%A")) 
print(df['pushblishDayName'])
print(df['publishedAt'] )

0          Sunday
1          Sunday
2          Sunday
3          Sunday
4          Monday
          ...
2767       Sunday
2768    Wednesday
2769    Wednesday
2770    Wednesday
2771       Monday
Name: pushblishDayName, Length: 2772, dtype: object
0      2024-05-12 13:00:51+00:00
1      2024-04-21 13:30:00+00:00
2      2024-04-14 13:10:17+00:00
3      2024-03-31 13:00:21+00:00
4      2024-03-11 15:22:46+00:00
                  ...
2767   2021-05-30 16:49:42+00:00
2768   2021-05-26 15:37:56+00:00
2769   2021-05-19 20:29:25+00:00
2770   2021-05-19 20:26:16+00:00
2771   2013-05-06 18:57:41+00:00
Name: publishedAt, Length: 2772, dtype: datetime64[ns, tzutc()]

In [7]:
df['durationSecs'] = df['duration'].apply(lambda x: isodate.parse_duration(x))
df['durationSecs'] = df['durationSecs'].astype('timedelta64[s]')
df['durationSecs'] = pd.to_timedelta(df['duration']).dt.total_seconds()

In [8]:
df[['durationSecs', 'duration']]

      durationSecs    duration
0            942.0    PT15M42S
1           4793.0  PT1H19M53S
2           1436.0    PT23M56S
3            759.0    PT12M39S
4            623.0    PT10M23S
...            ...         ...
2767          21.0       PT21S
2768          13.0       PT13S
2769          31.0       PT31S
2770          80.0     PT1M20S
2771         618.0    PT10M18S

[2772 rows x 2 columns]

In [9]:
df.dtypes

video_id                             object
channelTitle                         object
title                                object
description                          object
tags                                 object
publishedAt         datetime64[ns, tzutc()]
viewCount                           float64
likeCount                           float64
favouriteCount                      float64
commentCount                        float64
duration                             object
definition                           object
caption                                bool
pushblishDayName                     object
durationSecs                        float64
dtype: object

In [10]:
# Replace NaN values with an empty list
df['tags'] = df['tags'].fillna('')

# Apply lambda function to calculate tag count
df['tagCount'] = df['tags'].apply(lambda x: 0 if pd.isna(x) else len(x) if isinstance(x, list) else 0)

df.head()

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption,pushblishDayName,durationSecs,tagCount
0,r_K9hznoPKU,Darshil Parmar,"The State of Data Engineering in 2024 - Jobs, ...",Combo Package Python + SQL + Data warehouse (S...,"['The State of Data Engineering in 2024', 'dat...",2024-05-12 13:00:51+00:00,19221.0,454.0,NaN,55.0,PT15M42S,hd,True,Sunday,942.0,0
1,0iNJPKheQqM,Darshil Parmar,IPL Data Analysis | Apache Spark End-To-End Da...,Enroll in the Apache Spark Course Here - https...,"['darshil parmar', 'data engineer interview ti...",2024-04-21 13:30:00+00:00,36689.0,1238.0,NaN,95.0,PT1H19M53S,hd,False,Sunday,4793.0,0
2,XnPF-MDMUzc,Darshil Parmar,You're not stupid: How to learn difficult thin...,Enroll in the Apache Spark Course Here - https...,"['darshil parmar', 'data engineering', 'how to...",2024-04-14 13:10:17+00:00,19261.0,583.0,NaN,44.0,PT23M56S,hd,True,Sunday,1436.0,0
3,V7ue-tM2aYU,Darshil Parmar,Best Apache Spark Course with Databricks for D...,Enroll in the Apache Spark Course Here - https...,"['darshil parmar', 'data engineering projects ...",2024-03-31 13:00:21+00:00,16681.0,418.0,NaN,73.0,PT12M39S,hd,True,Sunday,759.0,0
4,KV4hZR5-D-4,Darshil Parmar,How I Got 60LPA Remote Job as Data Engineer,Join My Data Engineering Course Here: https://...,"['darshil parmar data engineer project', 'data...",2024-03-11 15:22:46+00:00,107354.0,2806.0,NaN,104.0,PT10M23S,hd,True,Monday,623.0,0

In [11]:
df.drop('description', axis=1, inplace=True)

In [12]:
df.to_csv('Data\\CleanData.csv', index=False)