In [212]:
import pandas as pd
import demoji
import re

In [213]:
df=pd.read_csv('Data\\commentsData.csv')
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@RohitandKanu,You guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@rignudignu7200,A Porsche
2,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@mastmogachi,Monkey shoulder üçæ is looking very beautiful ri...
3,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@DD-pe3no,üòçüòÖüëåüèª
4,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,Just went back 10 years ago üòÇüòÖ
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,Is the record still to her ? ‚ù§
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,Wow!! She looks different üò≥ \nI follow them fo...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see Rohit's Journey üòÇ
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,U started a channel ten years ago...omg u r so...

In [214]:
df.isnull().any()

videoId           False
title             False
videoLikes        False
videoViews        False
commenter_name    False
comments          False
dtype: bool

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7498 entries, 0 to 7497
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   videoId         7498 non-null   object
 1   title           7498 non-null   object
 2   videoLikes      7498 non-null   int64
 3   videoViews      7498 non-null   int64
 4   commenter_name  7498 non-null   object
 5   comments        7498 non-null   object
dtypes: int64(2), object(4)
memory usage: 351.6+ KB

In [216]:
def remove_hashtags(title):
    return ' '.join(word for word in title.split() if not word.startswith('#'))

df['title'] = df['title'].apply(remove_hashtags)
df['title']

0                             Beautiful but toxic.
1                             Beautiful but toxic.
2                             Beautiful but toxic.
3                             Beautiful but toxic.
4                             Beautiful but toxic.
                           ...
7493    Limca Book of World Records - Renu Sukheja
7494    Limca Book of World Records - Renu Sukheja
7495    Limca Book of World Records - Renu Sukheja
7496    Limca Book of World Records - Renu Sukheja
7497    Limca Book of World Records - Renu Sukheja
Name: title, Length: 7498, dtype: object

In [217]:
def remove_emojis(text):
    return demoji.replace(text, '')

df['comments'] = df['comments'].apply(remove_emojis)
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,You guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,A Porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,Monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,Just went back 10 years ago
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,Is the record still to her ?
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,Wow!! She looks different \nI follow them for...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see Rohit's Journey
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,U started a channel ten years ago...omg u r so...

In [218]:
def clean_text(text):
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    
    text = text.lower()
    return text
df['comments'] = df['comments'].apply(lambda x: clean_text(x))
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,you guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,a porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,just went back 10 years ago
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,is the record still to her
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,wow she looks different \ni follow them for e...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see rohits journey
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,u started a channel ten years agoomg u r so in...

In [219]:
def preprocess_data(df):
    df = df.drop_duplicates(subset=['comments'])
    
    spam_keywords = ['spam', 'advertisement', 'fake']
    df = df[~df['comments'].str.contains('|'.join(spam_keywords), case=False)]
        
    return df
df = preprocess_data(df)
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,you guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,a porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,just went back 10 years ago
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,is the record still to her
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,wow she looks different \ni follow them for e...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see rohits journey
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,u started a channel ten years agoomg u r so in...

In [220]:
df.to_csv('Data\\commentsCleanData.csv', index=False)