In [237]:
import pandas as pd
import demoji
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
from collections import Counter
import math

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sunda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [238]:
df=pd.read_csv('Data\\commentsData.csv')
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@RohitandKanu,You guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@rignudignu7200,A Porsche
2,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@mastmogachi,Monkey shoulder üçæ is looking very beautiful ri...
3,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@DD-pe3no,üòçüòÖüëåüèª
4,Fj-g-cmSzbo,Beautiful but toxic. #Funny #comedy #couple #e...,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,Just went back 10 years ago üòÇüòÖ
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,Is the record still to her ? ‚ù§
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,Wow!! She looks different üò≥ \nI follow them fo...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see Rohit's Journey üòÇ
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,U started a channel ten years ago...omg u r so...

In [239]:
df.isnull().any()

videoId           False
title             False
videoLikes        False
videoViews        False
commenter_name    False
comments          False
dtype: bool

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7498 entries, 0 to 7497
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   videoId         7498 non-null   object
 1   title           7498 non-null   object
 2   videoLikes      7498 non-null   int64
 3   videoViews      7498 non-null   int64
 4   commenter_name  7498 non-null   object
 5   comments        7498 non-null   object
dtypes: int64(2), object(4)
memory usage: 351.6+ KB

In [241]:
def remove_hashtags(title):
    return ' '.join(word for word in title.split() if not word.startswith('#'))

df['title'] = df['title'].apply(remove_hashtags)
df['title']

0                             Beautiful but toxic.
1                             Beautiful but toxic.
2                             Beautiful but toxic.
3                             Beautiful but toxic.
4                             Beautiful but toxic.
                           ...
7493    Limca Book of World Records - Renu Sukheja
7494    Limca Book of World Records - Renu Sukheja
7495    Limca Book of World Records - Renu Sukheja
7496    Limca Book of World Records - Renu Sukheja
7497    Limca Book of World Records - Renu Sukheja
Name: title, Length: 7498, dtype: object

In [242]:
def remove_emojis(text):
    return demoji.replace(text, '')

df['comments'] = df['comments'].apply(remove_emojis)
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,You guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,A Porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,Monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,Just went back 10 years ago
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,Is the record still to her ?
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,Wow!! She looks different \nI follow them for...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see Rohit's Journey
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,U started a channel ten years ago...omg u r so...

In [243]:
def clean_text(text):
    # Remove special characters and numbers
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    
    text = text.lower()
    return text

In [244]:
df['comments'] = df['comments'].apply(lambda x: clean_text(x))

df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,you guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,a porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,just went back 10 years ago
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,is the record still to her
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,wow she looks different \ni follow them for e...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see rohits journey
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,u started a channel ten years agoomg u r so in...

In [245]:
def preprocess_data(df):
    df = df.drop_duplicates(subset=['comments'])
    
    spam_keywords = ['spam', 'advertisement', 'fake']
    df = df[~df['comments'].str.contains('|'.join(spam_keywords), case=False)]
        
    return df
df = preprocess_data(df)
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,you guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,a porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
7493,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,just went back 10 years ago
7494,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,is the record still to her
7495,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,wow she looks different \ni follow them for e...
7496,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see rohits journey
7497,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,u started a channel ten years agoomg u r so in...

In [246]:
def tokenize_text(text):
    tokens = word_tokenize(text)
    return tokens

df['tokenized_comments'] = df['comments'].apply(word_tokenize)
df['tokenized_comments']

0       [you, guys, know, of, any, other, beautiful, b...
1                                            [a, porsche]
2       [monkey, shoulder, is, looking, very, beautifu...
3                                                      []
4                                             [my, crush]
                              ...
7493                   [just, went, back, 10, years, ago]
7494                    [is, the, record, still, to, her]
7495    [wow, she, looks, different, i, follow, them, ...
7496                     [one, can, see, rohits, journey]
7497    [u, started, a, channel, ten, years, agoomg, u...
Name: tokenized_comments, Length: 6303, dtype: object

In [247]:
def remove_stopwords(tokens):
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    return filtered_tokens

# Example usage
df['tokens_without_stopwords'] = df['tokenized_comments'].apply(remove_stopwords)
df['tokens_without_stopwords']

0       [guys, know, beautiful, toxic, things, subscri...
1                                               [porsche]
2       [monkey, shoulder, looking, beautiful, right, ...
3                                                      []
4                                                 [crush]
                              ...
7493                         [went, back, 10, years, ago]
7494                                      [record, still]
7495    [wow, looks, different, follow, english, under...
7496                          [one, see, rohits, journey]
7497    [u, started, channel, ten, years, agoomg, u, r...
Name: tokens_without_stopwords, Length: 6303, dtype: object

In [248]:
def counter(tokens):
    return Counter(tokens)

df['token_counts'] = df['tokens_without_stopwords'].apply(lambda x: counter(x))
df['token_counts']

0       {'guys': 2, 'know': 1, 'beautiful': 1, 'toxic'...
1                                          {'porsche': 1}
2       {'monkey': 1, 'shoulder': 1, 'looking': 1, 'be...
3                                                      {}
4                                            {'crush': 1}
                              ...
7493    {'went': 1, 'back': 1, '10': 1, 'years': 1, 'a...
7494                            {'record': 1, 'still': 1}
7495    {'wow': 1, 'looks': 1, 'different': 1, 'follow...
7496      {'one': 1, 'see': 1, 'rohits': 1, 'journey': 1}
7497    {'u': 2, 'started': 1, 'channel': 1, 'ten': 1,...
Name: token_counts, Length: 6303, dtype: object

In [249]:
def extract_numbers(dictionary):
    return [value for value in dictionary.values()]

df['sentance_vector'] = df['token_counts'].apply(extract_numbers)
df['sentance_vector']

0       [2, 1, 1, 1, 1, 1, 1, 1, 1]
1                               [1]
2             [1, 1, 1, 1, 1, 1, 1]
3                                []
4                               [1]
                   ...
7493                [1, 1, 1, 1, 1]
7494                         [1, 1]
7495    [1, 1, 1, 1, 1, 1, 1, 1, 1]
7496                   [1, 1, 1, 1]
7497       [2, 1, 1, 1, 1, 1, 1, 1]
Name: sentance_vector, Length: 6303, dtype: object

In [250]:
df.to_csv('Data\\commentsCleanData.csv', index=False)