In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Data\\commentsData.csv')
df

         video_id                                           comments
0     YZSv1Q8zuWo                                                 []
1     njzjxMftEe8                                                 []
2     hmxfn4cTdlQ                                                 []
3     iXVGrwRxV2c                                                 []
4     vW_LAxHJY_w                                                 []
...           ...                                                ...
2729  TRM_e1O7TVU  ['Modi hai toh mumkin hai‚ù§Ô∏è', 'No will power c...
2730  U_xZFqXOyFY  ['That creepy smile', "I ended 4 years relatio...
2731  k7dmrSbCpy4  ['Finished all of ur shortsüòÇüòÇ', 'üòä', 'Who came...
2732  cffqyq-U2Og  ["I'm that guy but I don't have any group", 'W...
2733  xxwNglca0Bo  ['I saw this today ‚ù§', 'Like if your watching ...

[2734 rows x 2 columns]

In [11]:
df['comments'][1000]

'[\'30\', \'Yes, now this game looks cool!\', \'üòäüòä\', "Wow, I didn\'t  know you played that aswel...", \'üòô\', \'First comment after more then 24 hours\', \'Yooooooo Mr Beast played project zomboid!!!!!\', \'I LOVE PROJECT ZOMBOID NO WAY YOU PLAYED THIS ALL THESE YEARS AGO\', \'Zombie sorry zomboid\', \'why is this on my reccomended\']'