In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Data\\commentsData.csv')
df

,VideoID,Username,Comment
0,yXoqz_GOJxw,@avinabaenator,That's quite a height difference
1,QGP02UnMhhE,@LifeByMD,Don't encourage alcohol😂
2,ScnDAe0IsYc,@nishantmittalblog,whats this homestay name?
3,UdrlseaiS2E,@vishakr7194,Good one 😂😂😂
4,2WCcSLE7aDA,@nks8630,Wife ke maare do bechare😂😂😂
...,...,...,...
321,TRM_e1O7TVU,@ornatrabelsi9174,So young❤
322,U_xZFqXOyFY,@Uppolice.age.relaxation,The smile at the end 😂
323,k7dmrSbCpy4,@bnm3693,That's sooo me since the beginning of this month
324,cffqyq-U2Og,@Madhuwellness,My 10 year old 😂
325,xxwNglca0Bo,@Neeharika-M,U started a channel ten years ago...omg u r so...

In [6]:
df['Comment']

0                       That's quite a height difference
1                               Don't encourage alcohol😂
2                              whats this homestay name?
3                                           Good one 😂😂😂
4                            Wife ke maare do bechare😂😂😂
                             ...
321                                            So young❤
322                               The smile at the end 😂
323     That's sooo me since the beginning of this month
324                                     My 10 year old 😂
325    U started a channel ten years ago...omg u r so...
Name: Comment, Length: 326, dtype: object