In [72]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
nltk.download('stopwords')
from collections import Counter
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sunda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
df=pd.read_csv("Data\\commentsCleanData.csv")
df

,videoId,title,videoLikes,videoViews,commenter_name,comments
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,you guys know of any other beautiful but toxic...
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,a porsche
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,monkey shoulder is looking very beautiful rig...
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,NaN
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush
...,...,...,...,...,...,...
6298,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,just went back 10 years ago
6299,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,is the record still to her
6300,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,wow she looks different \ni follow them for e...
6301,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see rohits journey
6302,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,u started a channel ten years agoomg u r so in...

In [75]:
df['comments'] = df['comments'].astype(str)

In [76]:
def tokenize_text(text):
    tokens = word_tokenize(text)
    return tokens

df['tokenized_comments'] = df['comments'].apply(tokenize_text)
df['tokenized_comments']

0       [you, guys, know, of, any, other, beautiful, b...
1                                            [a, porsche]
2       [monkey, shoulder, is, looking, very, beautifu...
3                                                   [nan]
4                                             [my, crush]
                              ...
6298                   [just, went, back, 10, years, ago]
6299                    [is, the, record, still, to, her]
6300    [wow, she, looks, different, i, follow, them, ...
6301                     [one, can, see, rohits, journey]
6302    [u, started, a, channel, ten, years, agoomg, u...
Name: tokenized_comments, Length: 6303, dtype: object

In [67]:
def remove_stopwords(tokens):
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    return filtered_tokens

# Example usage
df['tokens_without_stopwords'] = df['tokenized_comments'].apply(remove_stopwords)
df['tokens_without_stopwords']

0       [guys, know, beautiful, toxic, things, subscri...
1                                               [porsche]
2       [monkey, shoulder, looking, beautiful, right, ...
3                                                   [nan]
4                                                 [crush]
                              ...
6298                         [went, back, 10, years, ago]
6299                                      [record, still]
6300    [wow, looks, different, follow, english, under...
6301                          [one, see, rohits, journey]
6302    [u, started, channel, ten, years, agoomg, u, r...
Name: tokens_without_stopwords, Length: 6303, dtype: object

In [68]:
def counter(tokens):
    return Counter(tokens)

df['token_counts'] = df['tokens_without_stopwords'].apply(lambda x: counter(x))
df['token_counts']

0       {'guys': 2, 'know': 1, 'beautiful': 1, 'toxic'...
1                                          {'porsche': 1}
2       {'monkey': 1, 'shoulder': 1, 'looking': 1, 'be...
3                                              {'nan': 1}
4                                            {'crush': 1}
                              ...
6298    {'went': 1, 'back': 1, '10': 1, 'years': 1, 'a...
6299                            {'record': 1, 'still': 1}
6300    {'wow': 1, 'looks': 1, 'different': 1, 'follow...
6301      {'one': 1, 'see': 1, 'rohits': 1, 'journey': 1}
6302    {'u': 2, 'started': 1, 'channel': 1, 'ten': 1,...
Name: token_counts, Length: 6303, dtype: object

In [69]:
def extract_numbers(dictionary):
    return [value for value in dictionary.values()]

df['sentance_vector'] = df['token_counts'].apply(extract_numbers)
df['sentance_vector']

0       [2, 1, 1, 1, 1, 1, 1, 1, 1]
1                               [1]
2             [1, 1, 1, 1, 1, 1, 1]
3                               [1]
4                               [1]
                   ...
6298                [1, 1, 1, 1, 1]
6299                         [1, 1]
6300    [1, 1, 1, 1, 1, 1, 1, 1, 1]
6301                   [1, 1, 1, 1]
6302       [2, 1, 1, 1, 1, 1, 1, 1]
Name: sentance_vector, Length: 6303, dtype: object

In [70]:
def analyze_sentiment(comment):
    sid = SentimentIntensityAnalyzer()
    sentiment_score = sid.polarity_scores(comment)
    if sentiment_score['compound'] >= 0.05:
        return 'Positive'
    elif sentiment_score['compound'] <= -0.05:
        return 'Negative'
    else:
        return 'Neutral'

df['sentiment'] = df['comments'].apply(analyze_sentiment)
df

,videoId,title,videoLikes,videoViews,commenter_name,comments,tokenized_comments,tokens_without_stopwords,token_counts,sentance_vector,sentiment
0,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@RohitandKanu,you guys know of any other beautiful but toxic...,"[you, guys, know, of, any, other, beautiful, b...","[guys, know, beautiful, toxic, things, subscri...","{'guys': 2, 'know': 1, 'beautiful': 1, 'toxic'...","[2, 1, 1, 1, 1, 1, 1, 1, 1]",Positive
1,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@rignudignu7200,a porsche,"[a, porsche]",[porsche],{'porsche': 1},[1],Neutral
2,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@mastmogachi,monkey shoulder is looking very beautiful rig...,"[monkey, shoulder, is, looking, very, beautifu...","[monkey, shoulder, looking, beautiful, right, ...","{'monkey': 1, 'shoulder': 1, 'looking': 1, 'be...","[1, 1, 1, 1, 1, 1, 1]",Positive
3,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@DD-pe3no,nan,[nan],[nan],{'nan': 1},[1],Neutral
4,Fj-g-cmSzbo,Beautiful but toxic.,56482,808475,@MrKamei,my crush,"[my, crush]",[crush],{'crush': 1},[1],Negative
...,...,...,...,...,...,...,...,...,...,...,...
6298,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@dmcindianfan5374,just went back 10 years ago,"[just, went, back, 10, years, ago]","[went, back, 10, years, ago]","{'went': 1, 'back': 1, '10': 1, 'years': 1, 'a...","[1, 1, 1, 1, 1]",Neutral
6299,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@coolbreeze1262,is the record still to her,"[is, the, record, still, to, her]","[record, still]","{'record': 1, 'still': 1}","[1, 1]",Neutral
6300,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Notebook-ur1st,wow she looks different \ni follow them for e...,"[wow, she, looks, different, i, follow, them, ...","[wow, looks, different, follow, english, under...","{'wow': 1, 'looks': 1, 'different': 1, 'follow...","[1, 1, 1, 1, 1, 1, 1, 1, 1]",Positive
6301,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Prathikraj_mysorean,one can see rohits journey,"[one, can, see, rohits, journey]","[one, see, rohits, journey]","{'one': 1, 'see': 1, 'rohits': 1, 'journey': 1}","[1, 1, 1, 1]",Neutral
6302,xxwNglca0Bo,Limca Book of World Records - Renu Sukheja,1073,149466,@Neeharika-M,u started a channel ten years agoomg u r so in...,"[u, started, a, channel, ten, years, agoomg, u...","[u, started, channel, ten, years, agoomg, u, r...","{'u': 2, 'started': 1, 'channel': 1, 'ten': 1,...","[2, 1, 1, 1, 1, 1, 1, 1]",Neutral

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

def nmf_topic_modeling(comments, num_topics=50):
    # Create TF-IDF matrix
    tfidf_vectorizer = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')
    tfidf = tfidf_vectorizer.fit_transform(comments)
    
    # Apply NMF
    nmf_model = NMF(n_components=num_topics, random_state=42)
    nmf_model.fit(tfidf)
    
    # Get the top words for each topic
    feature_names = tfidf_vectorizer.get_feature_names_out()
    topic_words = []
    for topic_idx, topic in enumerate(nmf_model.components_):
        top_words_idx = topic.argsort()[:-10 - 1:-1]
        top_words = [feature_names[i] for i in top_words_idx]
        topic_words.append(top_words)
    
    return topic_words

# Assuming df_cleaned is your DataFrame with cleaned comments
# Replace this with your actual DataFrame
comments = df['comments']

# Perform topic modeling using NMF
topics = nmf_topic_modeling(comments)

# Print the top words for each topic
for idx, topic in enumerate(topics):
    print(f"Topic {idx+1}: {', '.join(topic)}")

Topic 1: cheers, subscribe, enjoying, share, youre, content, scam, bloody, like, learn
Topic 2: love, videos, lots, way, petrol, lanka, sri, goa, tamilnadu, pune
Topic 3: bro, phone, moves, mast, joke, come, superb, exact, sis, channel
Topic 4: like, sounds, couples, think, prabhas, doesnt, wish, single, baby, feel
Topic 5: guys, congratulations, acting, english, happy, hilarious, hope, nailed, fun, watching
Topic 6: rohit, kanupriya, sister, handsome, congratulations, prabhas, poor, proud, bhai, food
Topic 7: dont, understand, worry, fall, want, make, money, rohitandkanu, ro, say
Topic 8: kanu, expressions, ad, sexy, mayonnaise, acted, poor, cutest, life, lovely
Topic 9: nice, word, try, place, haha, humour, hyderabad, dude, couples, question
Topic 10: good, acting, looking, actor, boy, bad, way, script, hahaha, soo
Topic 11: thats, yeah, started, real, totally, joke, feel, hey, cold, deep
Topic 12: best, friend, hilarious, channel, seen, day, joke, wow, hahaha, couples
Topic 13: man, lucky, real, camera, sweet, oscar, killed, handsome, dead, mean
Topic 14: just, want, make, stop, saw, say, brilliant, day, feel, kidding
Topic 15: cute, girl, priya, soo, smile, reality, wish, hyderabad, arent, voice
Topic 16: video, make, waiting, thing, stupid, watching, thank, seen, pls, missed
Topic 17: true, damn, 100, haha, soooo, dude, happened, underrated, fuck, absolutely
Topic 18: im, glad, brother, cancer, fine, gonna, try, exactly, dead, day
Topic 19: understand, didnt, explain, tell, expect, people, mean, said, times, fr
Topic 20: lol, expression, exactly, say, face, use, yup, hand, behave, worli
Topic 21: relatable, husband, totally, 100, sooo, soo, quite, damn, genuine, freaking
Topic 22: ur, videos, watching, sister, hi, watch, brother, mom, channel, loving
Topic 23: couple, lovely, sweet, fav, crazy, bless, handsome, youtube, seen, relate
Topic 24: hai, bhai, kya, hi, bhi, ho, ye, ka, ko, nahi
Topic 25: time, happens, long, waste, thing, english, relate, took, closed, today
Topic 26: awesome, expressions, thanks, word, laugh, share, editing, punch, boobs, rohith
Topic 27: amazing, waiting, laughing, dance, said, yr, music, rofl, stop, skills
Topic 28: really, pretty, nailed, lot, wish, jokes, lucky, happened, working, enjoyed
Topic 29: wife, husband, sister, said, ask, tell, thank, think, second, sexy
Topic 30: beautiful, girl, madam, mom, sis, place, omg, hot, smile, wow
Topic 31: twist, plot, unexpected, waiting, having, haha, knew, twists, expected, helpline
Topic 32: funny, haha, day, dance, actually, going, sooo, yaar, extremely, watched
Topic 33: did, said, come, say, tell, bruh, babe, hell, thing, means
Topic 34: god, bless, oh, real, damn, thank, son, sweet, lovely, dance
Topic 35: men, women, need, life, think, boys, things, real, way, half
Topic 36: got, lucky, happy, expression, bruh, word, new, married, laughing, dying
Topic 37: know, let, want, girl, means, guess, sir, phone, wanna, hey
Topic 38: yes, say, baby, happened, sir, said, thank, rohith, opposite, says
Topic 39: end, laugh, smile, expression, said, tho, hilarious, way, guess, hungry
Topic 40: look, prabhas, exactly, handsome, mean, sister, omg, indian, actor, hug
Topic 41: hindi, english, make, bol, speak, bhi, learn, talk, karo, language
Topic 42: guy, hot, bad, smart, says, lucky, shes, day, called, waiting
Topic 43: looks, sister, soo, old, prabhas, indian, south, sir, future, model
Topic 44: super, pair, nailed, excited, cringe, ro, season, ha, agree, oh
Topic 45: thought, people, say, money, face, going, youre, gonna, oh, better
Topic 46: perfect, does, need, word, transition, smile, ass, pair, leg, example
Topic 47: right, hes, damn, actually, way, mean, said, whats, comes, answer
Topic 48: great, hilarious, shes, welcome, doing, brother, channel, making, answer, tamil
Topic 49: song, whats, music, tell, pls, played, knows, called, background, plz
Topic 50: content, level, brother, acting, make, channel, original, making, enjoying, boring